body{
  margin:0;
  background:#0b0b0b;
  color:#f5d36c;
  font-family:Arial;
  text-align:center;
}
.auth-box{
  max-width:320px;
  margin:100px auto;
  padding:25px;
  background:#111;
  border-radius:14px;
}
.auth-box input, button{
  width:100%;
  padding:12px;
  margin-bottom:12px;
}
button{
  border:none;
  border-radius:999px;
  background:#f5d36c;
  font-weight:bold;
}
.logout{
  position:fixed;
  top:15px;
  right:15px;
}
